.course-details-container {
    padding: 80px 20px 20px 20px; /* Add padding to avoid overlap with the navbar */
    min-height: calc(100vh - 160px); /* Ensures content area height without footer overlap */
    background: linear-gradient(135deg, #181e2e, #0f111a, #1c2439);
    color: #ffffff;
  }
  
  /* Plan Button Group */
  .plan-buttons {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    border-radius: 15%;
    background-color: transparent;
  }
  
  .plan-buttons .MuiButton-root {
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    padding: 10px 20px;
    text-transform: none;
    border-radius: 20px;
    background-color: transparent;
    color: #ffffff;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .plan-buttons .MuiButton-root:hover {
    background-color: rgba(255, 255, 255, 0.9);
    color: #1e1e1e;
  }
  
  /* Highlight the selected plan button */
  .plan-buttons .selected {
    background-color: rgba(255, 255, 255, 0.9); /* Slightly highlighted selected button */
    border: 1px solid #fff;
    color: #1e1e1e;
  }
  
  /* Content Area Below the Buttons */
  .plan-content {
    margin-top: 20px;
  }
  
  /* Ensuring the footer is not overlapped */
  footer {
    position: relative;
    z-index: 10;
    bottom: 0;
    width: 100%;
  }
  