.stats-section {
    background: linear-gradient(180deg, #1f0135, #39074c);
    padding: 50px 0;
    color: #fff;
  }
  
  .stats-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
  }
  
  .stat-item h2 {
    font-size: 48px;
  }
  
  .stat-item p {
    font-size: 18px;
    color: #ccc;
  }
  